body {
  background-image: url("../media/globe-at-sunset.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-blend-mode: lighten;
}

footer {
  background-color: azure;
}
